{{ header }} 
{{ column_left }} 
{{ column_right }} 
<div id="content">
    <section  style='text-align:-moz-center;'>
        <form method="post" name="snslogin_emailform" id="form" style ="padding: 20px;border: 1px solid #ccc;
              margin-top: 20px;border-radius: 6px;box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.4);font-family: Helvetica,Arial,sans-serif;width: 350px; display:block !important;">
            {% if (error_warning is defined and error_warning != "") %} 
            <div class="warning">{{ error_warning }}</div>
            {% endif %} 
            <div style="padding: 15px;margin-bottom: 10px;border: 1px solid transparent;border-radius: 4px;
                 box-sizing: border-box;background-color: #dff0d8;border-color: #d6e9c6;
                 color: #333;text-align: justify;margin-bottom: 20px;line-height: 1.4; font-family: verdana; font-size: 14px;">{{ snslogin_required_details_message }}</div>
            <p style='text-align:center;'>
                <input type='email' value='' required='required' name='snslogin_email' placeholder='{{ snslogin_entry_email }}' style='width:250px;background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #CCCCCC; border-radius: 4px; margin-left: 0; margin-right: 0; padding: 3px;'/></p>
            <p style='text-align:center;'><input type='text' required='required' value='' name='snslogin_contact_number' placeholder='{{ snslogin_entry_phone }}' style='width:250px;background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #CCCCCC; border-radius: 4px; margin-left: 0; margin-right: 0; padding: 3px;'/></p>
            <p style='text-align:center;'>
<img src='{% if (snslogin_user_image_path is defined) %} {{ snslogin_user_image_path }}{% endif %}' alt='' style='width:42px; height:42px; margin-right:8px;'/>
<input type='submit' value='{{ snslogin_btn_submit }}' class='btn btndefault' name='snslogin_emailform_submit' style='cursor:pointer; width:180px; color:#4E4E4E; font-size:17px;'/>
            </p>
        </form>
    </section>
    {{ content_bottom }} 
</div>
{{ footer }}
