{% if banners %}
  <style>
    .banner-wrapper {
      position: relative;
    }
    .banner-titles-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .banner-titles-container .bl-banner-title {
      pointer-events: auto;
      background-color: rgba(255, 255, 255, 0.2);
    }

    .item-banner-catalog {
      height: 400px;
      width: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;
    }

    .banner-content {
      width: 100%;
      height: 400px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

  </style>
  <div class="banner-wrapper">
    <div id="banner{{ module }}" class="slider">
    {% for banner in banners %}
      <div class="swiper-slide">
        {% if banner.link %}<a href="{{ banner.link }}">{% endif %}
          {% if banner.type == 0 %}
            <div class="item-banner-catalog">
              <div class="banner-content" style="background-image: url('{{ banner.image }}')"></div>
            </div>
          {% else %}
            <div class="item-banner-catalog video-slide">
              <video
                style="width:100%; height:400px; object-fit: cover;"
                autoplay
                loop
                muted
                playsinline
                preload="metadata">
                <source src="{{ banner.video }}#t=0.1" type="video/mp4">
              </video>
            </div>
          {% endif %}
        {% if banner.link %}</a>{% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="banner-titles-container">
    <div class="fluid-width">
      <div class="container">
        {% for banner in banners %}
          {% if banner.title and banner.title != "" %}
            <div class="bl-banner-title title-{{ loop.index }}" style="display: none;">
              {{ banner.title }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  <div class="navigation-slick-block navigation-banner{{ module }}">
    <div class="slick_navigation">
      <div class="slick_arrow" tabindex="0" role="button" aria-label="Previous slide">
        <i class="slick-arrow-left" aria-hidden="true"></i>
      </div>
      <div class="slick_arrow" tabindex="0" role="button" aria-label="Next slide">
        <i class="slick-arrow-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <script type="text/javascript">

    var module_id = '{{ module }}';

    $(document).ready(function () {

      var bannerNavSlider = $('#banner' + module_id);
      var titlesContainer = bannerNavSlider.next('.banner-titles-container');

      bannerNavSlider.on('init', function(event, slick){
        bannerNavSlider.css('opacity', 1);
        titlesContainer.find('.bl-banner-title').hide();
        titlesContainer.find('.title-' + (slick.currentSlide + 1)).fadeIn();
      });

      bannerNavSlider.not('.slick-initialized').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        initialSlide: 0,
        dots: false,
        focusOnSelect: false,
        arrows: true,
        fade: false,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 5000
      });

      bannerNavSlider.on('beforeChange', function(event, slick, currentSlide, nextSlide){
        titlesContainer.find('.bl-banner-title').hide();
      });

      bannerNavSlider.on('afterChange', function(event, slick, currentSlide){
        titlesContainer.find('.bl-banner-title').hide();
        titlesContainer.find('.title-' + (currentSlide + 1)).fadeIn();
      });

      // Якщо кількість елементів менша або дорівнює кількості показуваних слайдів, приховуємо навігацію
      var totalItems2 = bannerNavSlider.slick('getSlick').slideCount;
      if (totalItems2 <= 1) {
        $('.navigation-banner' + module_id + ' .navigation-slick-block').hide();
      } else {
        $('.navigation-banner' + module_id + ' .navigation-slick-block').show();
      }

      // Обробник для кнопки Prev
      $('.navigation-banner' + module_id + ' .slick-arrow-left').on('click', function () {
        bannerNavSlider.slick('slickPrev');
      });

      // Обробник для кнопки Next
      $('.navigation-banner' + module_id + ' .slick-arrow-right').on('click', function () {
        bannerNavSlider.slick('slickNext');
      });
    });
</script>
{% endif %}
