{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
                <span class="pull-right">{{ text_info }}</span>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class='active'><a href="#tab-main" data-toggle="tab">{{ tab_main }}</a></li>
                    <li><a href="#tab-add" data-toggle="tab">{{ tab_add }}</a></li>
                </ul>
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
                    <div class="tab-content">
                        <div class="tab-pane active form-horizontal" id="tab-main">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Заголовок</th>
                                        <th>Статус</th>
                                        <th>Покачок</th>
                                        <th>Кінець</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.title }}</td>
                                            <td>{{ item.status }}</td>
                                            <td>{{ item.date_start }}</td>
                                            <td>{{ item.date_end }}</td>
                                            <td>
                                                <a href="{{ edit_link }}&id={{ item.id }}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Редактировать"><i class="fa fa-pencil"></i></a>
                                                <a href="{{ delete_link }}&id={{ item.id }}" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Удалить"><i class="fa fa-minus-circle"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane form-horizontal" id="tab-add">
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
                    <div class="tab-content">
                        <div class="tab-pane active form-horizontal" id="tab-main">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="title">{{ l_title }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="title" value="" id="title" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="title">{{ l_text|raw }}</label>
                                <div class="col-sm-10">
                                    <textarea name="text" id="title" class="form-control" data-toggle="summernote" data-lang="ru-RU" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="title">{{ l_date_start }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="date_start" value="" data-date-format="YYYY-MM-DD" value="" class="form-control date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="title">{{ l_date_end }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="date_end" value="" data-date-format="YYYY-MM-DD" value="" class="form-control date">
                                </div>
                            </div>

                            <div class="buttons pull-right">
                                <input type="submit" name="save" value="{{ save }}" class="btn btn-success"/>
                                <a href="{{ cancel }}" class="btn btn-danger">{{ button_cancel }}</a>
                            </div>


                        </div>
                    </div>
                </form>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
<script type="text/javascript">
    
        $('.date').datetimepicker({
            language: 'ru',
            pickTime: false
        });
    
</script>
{{ footer }}
